# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FPS_TOMOCHAN.iml
# Datasource local storage ignored files
/../../../../../../../:\_GithubPersonal\fps-tomochan\FPS_TOMOCHAN\.idea\.idea.FPS_TOMOCHAN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
